{% extends 'base.html.twig' %}

{% block body %}
    <a class="btn btn-default" href="/company">Back to Companys</a>
    <hr>
    <h2 class="page-header">{{ companies.name }}</h2>
    <ul class="list-group">
        <li class="list-group-item">Description: {{ companies.description }}</li>
        <li class="list-group-item">Group Company: {{ companies.gcompanys.name }}</li>
    </ul>
{% endblock %}